<?xml version="1.0"?>
<!--
Copyright (C) 2017 BeGateway

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

@author      eComCharge
@copyright   2017 BeGateway
@license     http://opensource.org/licenses/gpl-2.0.php GNU General Public License, version 2 (GPL-2.0)
-->
<config>
    <modules>
       <BeGateway>
         <version>1.3.6</version>
       </BeGateway>
    </modules>

    <global>
        <blocks>
            <begateway>
                <class>BeGateway_Block</class>
            </begateway>
        </blocks>

        <models>
            <begateway>
                <class>BeGateway_Model</class>
            </begateway>
        </models>

        <helpers>
            <begateway>
                <class>BeGateway_Helper</class>
            </begateway>
        </helpers>

        <payment>
            <groups>
                <begateway>BeGateway</begateway>
            </groups>
        </payment>

        <events>
            <checkout_submit_all_after>
                <observers>
                    <BeGateway>
                        <class>BeGateway_Observer_CheckoutSubmitAllAfter</class>
                        <method>handleAction</method>
                    </BeGateway>
                </observers>
            </checkout_submit_all_after>
            <sales_quote_address_collect_totals_before>
                <observers>
                    <BeGateway>
                        <class>BeGateway_Observer_SalesQuoteAddressCollectTotalsBefore</class>
                        <method>handleAction</method>
                    </BeGateway>
                </observers>
            </sales_quote_address_collect_totals_before>
        </events>

    </global>

    <frontend>
        <routers>
            <begateway>
                <use>standard</use>
                <args>
                    <module>BeGateway</module>
                    <frontName>begateway</frontName>
                </args>
            </begateway>
        </routers>
        <secure_url>
            <begateway>/begateway/</begateway>
        </secure_url>
        <translate>
            <modules>
                <BeGateway>
                    <files>
                        <default>BeGateway.csv</default>
                    </files>
                </BeGateway>
            </modules>
        </translate>
    </frontend>

    <adminhtml>
        <translate>
            <modules>
                <BeGateway>
                    <files>
                        <default>BeGateway.csv</default>
                    </files>
                </BeGateway>
            </modules>
        </translate>
    </adminhtml>

    <default>
        <payment>
            <begateway_direct>
                <model>begateway/direct</model>
                <shop_id>361</shop_id>
                <shop_pass>b8647b68898b084b836474ed8d61ffe117c9a01168d867f24953b776ddcb134d</shop_pass>
                <domain_checkout>checkout.begateway.com</domain_checkout>
                <order_status>pending</order_status>
                <title>Credit Card (BeGateway Direct)</title>
                <cctypes>VI,MC</cctypes>
                <payment_action>payment</payment_action>
                <test_mode>yes</test_mode>
                <group>begateway</group>
            </begateway_direct>
            <begateway_checkout>
                <model>begateway/checkout</model>
                <shop_id>361</shop_id>
                <shop_pass>b8647b68898b084b836474ed8d61ffe117c9a01168d867f24953b776ddcb134d</shop_pass>
                <domain_gateway>demo-gateway.begateway.com</domain_gateway>
                <title>Credit Card (BeGateway Checkout)</title>
                <payment_action>payment</payment_action>
                <order_status>pending</order_status>
                <test_mode>yes</test_mode>
                <group>begateway</group>
            </begateway_checkout>
        </payment>
    </default>
</config>
